body {
    margin: 0;
    font-family: Helvetica, sans-serif;
    background-color: #1a1a1a;
}

/* Full Screen Container */
.full-screen-container {
    display: flex;
    flex-direction: column; /* Stack children vertically */
    justify-content: center;
    align-items: center;
    height: 100%; 
}


h1{
    margin-top: 5%;
    position: relative;
    z-index: 1;
    color: #237c4e;
    font-family: "Times New Roman", times, serif;
    font-size: 75px;
    padding-bottom: 20px;
    padding-top: 0;
}

h2{
    position: relative;
    font-family: "Times New Roman", times, serif;
    font-size: xx-large;
    padding-top: 0;
}

/* Container */
.login-container {
    background: #fff;
    padding: 20px;
    border-radius: 60px;
    border: 100 solid hsl(155, 65%, 23%);
    text-align: center;
    box-shadow: #000000; /* Fix the box-shadow color*/
    width: 500px;
    position: relative;
}
/* Headings */
.login-header {
    text-align: center;
    margin-bottom: 10px;
}

.login-header h1 {
    font-size: 2.5em;
    margin: 0;
    color: #000000;
}


/* Log In Form */
#login-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
}

.input-group {
   display: flex;
   flex-direction: column;
   gap: 7px;
}

.input-group label{
    font-weight: lighter;
 }

.input-group input{
    font-size: 1.25rem;
    padding: .5em;
    background-color: #99d3ff;
    border-radius: 20px;
}

.input-group .msg{
    display: none;
    font-size: .75rem;
}

.input-group.success .msg,
.input-group.error .msg{
    display: block;
}

.input-group.success .msg{
    color: #2dc906;
}

.input-group.error .msg{
    color: #e50808;
}


#login-form button {
    width: 20%;
    padding: 10px;
    font-size: 1em;
    background-color: #23794e;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    align-items: center;
}

#login-form button:hover {
    background-color: #175033;
}

/* Sign Up Button */

.signup-button {
    text-align: center;
    margin-top: 10px;
}

.signup-button button {
    width: 20%;
    padding: 10px;
    font-size: 1em;
    background-color: #23794e;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    align-items: center;
}

.signup-button button:hover {
    background-color: #175033; /* Slightly darker shade on hover */
}

/* Chat Page Styles*/

.chat-container {
    background-color: #fefefe;
}

/* Sign Up Page Styles */

/* WORK BELOW IS CHAPE */


.signup-header h2 {
    width: 300px;
    font-size: large;
    outline-color: #ffffff;
    color: #c5ffd6;
    margin-left: 20px;
    }
    
    
    #signup-form { /* "Enter your info txt" */
       font-family: 'Courier New', Courier, monospace;
       display: flex;
       flex-direction: column;
       margin-top: 40px;
       align-items: center;
    }
    
    
    input[type=text] {
       width: 60%;
       padding: 12px 20px;
       margin: 8px 0;
       box-sizing: border-box;
     }
    
    input[type=password] {
        width: 60%;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
    }
    
    
    #signup-form h2 {
       text-align: center;
       margin-bottom: 30px;
       color: #c5ffd6;
    }
    
    
    .login-button {
       text-align: center;
       align-items: center;
       margin-top: 100px;
       font-size:small;
       color:#c5ffd6; 
    }
    /*Need to add additional styling for form, buttons, windows, etc  */
    