<!doctype html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <style>
      body {
        background-color: rgb(206, 239, 223);
      }
      h1 {
        size: 40px;
        font-family: 'Times New Roman', Times, serif;
        text-align: center;
      }
      p {
        size: 20px;
        font-weight: bold;
        font-family: 'Courier New', Courier, monospace;
        line-height: 150%;
      }

      #container {
        max-width: 720px;
        margin: 5% auto auto auto;
      }
      
    </style>
</head>
  <body>
    <div id = "container">
      {% block content %} {% endblock %}
    </div>
</body>

</html>
