<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>chat</title>
    <link rel="stylesheet" href="./styles.css" />
  </head>
  <body>
    <div class="chat-container">
      <div id="chat-window"></div>
      <form id="message-form">
        <input
          type="text"
          id="message-input"
          placeholder="Type a message..."
          autocomplete="on"
          required
        />
        <button type="submit">Send</button>
      </form>
    </div>
    <script src="chat.js"></script>
  </body>
</html>
